@font-face {
  font-family: "Avenir Roman";
  src: url(./assests/font/AvenirRoman.otf);
}

.App {
  text-align: center;
  color: #16191c;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: right; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  text-align: right;
  color: white;
}

.Login-page {
}
